#bairroCentro, #centroBairro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

#bairroCentro li, #centroBairro li{
    border: solid #5c6370;
    list-style-type: none;
    padding: .5em;
}

